{% extends "base.html" %}

{% block main %}
<table border="1" width=650px>
  <tr>
    <td width=150px>Username</td>
    <td width=500px><strong>{{ user.username }}</strong><br />
    <img src='{{ user.email | gravatar }}' alt='{{ user.username }} avatar' />
    </td>
  </tr>
  <tr>
    <td>Full Name</td>
    <td>{{ user.first_name }} {{ user.last_name }}</td>
  </tr>
  <tr>
    <td>Location</td>
    <td>{{ user.location }}</td>
  </tr>
  <tr>
    <td>Homepage</td>
    {% if user.homepage == 'None' %}
      <td>{{ user.homepage }}</td>
    {% else %}
      <td><a href='{{ user.homepage }}'>{{ user.homepage }}</a></td>
    {% endif %}
  </tr>
</table>
{% endblock %}