{% extends "base.html" %}

{% block main %}
<form method="post" action="/create" class="form-stacked">
	<div class="clearfix">
		<label for='company_name'>Company Name:</label>
		<div class="input">
			<input id='company_name' name='company_name' type='text'>
		</div><!-- /input -->
	</div><!-- /clearfix -->

	<div class="clearfix">
		<label for='company_location'>Company Location:</label>
		<div class="input">
			<input id='company_location' name='company_location' type='text'>
		</div><!-- /input -->
	</div><!-- /clearfix -->

	<div class="clearfix">
		<label for='company_url'>Company URL:</label>
		<div class="input">
			<input id='company_url' name='company_url' type='text'>
		</div><!-- /input -->
	</div><!-- /clearfix -->

	<div class="clearfix">
		<label for='application_instructions'>Application Instructions:</label>
		<div class="input">
			<input id='application_instructions' name='application_instructions' type='text'>
		</div><!-- /input -->
	</div><!-- /clearfix -->

	<div class="clearfix">
		<label for='job_posting'>Job Posting:</label>
		<div class="input">
			<textarea class="xxlarge" id="job_posting" name="job_posting" rows="15"></textarea>
        <span class="help-block">
          Paste in your job description.
        </span>
		</div><!-- /input -->
	</div><!-- /clearfix -->

	<div class="clearfix">
		<label for='telework'>Telework Opportunity?</label>
		<div class="input">
			<input type="checkbox" name="telework" id="telework" value="Yes" /></label>
		</div><!-- /input -->
	</div><!-- /clearfix -->

	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

  <div class="actions">
    <button type="submit" class="btn primary">Save Job</button>
    &nbsp;
    <button type="reset" class="btn">Cancel</button>
   </div>
</form>
{% endblock %}
